<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demand.inn.com.inndemand">

    <!-- ...............InnDemand app permissions area............ -->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.javapapers.android.maps.path.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="in.wptrafficanalyzer.locationroutemylocationv2.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:name=".volleycall.AppController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
        <meta-data android:name="com.inthecheesefactory.lab.glidepicasso.GlideConfiguration"
            android:value="GlideModule"/>

        <!-- ...................Activity call Area....................... -->

        <activity android:name=".welcome.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginScreen"
            android:label="@string/select_time"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".login.CheckDetails"></activity>
        <activity android:name=".login.QrScan"></activity>

        <activity
            android:name=".DashBoard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".login.HotelDetails"
            android:label="@string/bell_boy"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".cartarea.MyCart"></activity>
        <activity android:name=".welcome.CommentArea"></activity>

        <!-- ................Room-Services Activity Area.......... -->

        <activity android:name=".roomservice.RoomServices"
            android:label="@string/room_services"></activity>
        <activity android:name=".roomservice.Bathroom"></activity>
        <activity android:name=".roomservice.RoomCleaning"></activity>
        <activity android:name=".roomservice.WakeUp"></activity>
        <activity android:name=".roomservice.Cab"></activity>
        <activity android:name=".roomservice.Laundry"></activity>
        <activity android:name=".roomservice.Beverages"></activity>
        <activity android:name=".roomservice.BedTea"></activity>
        <activity android:name=".roomservice.BellBoy"></activity>

        <!-- ................Restaurant Activity Area.......... -->

        <activity android:name=".roomservice.Restaurant"></activity>

        <!-- ...................Broadcast call Area....................... -->

        <!-- ...................Services call Area........................ -->

        <activity android:name=".mapdirection.Mapping"></activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAgQdWF1SP1rwBpfprvCsVgR__MIh76mYw"/>

    </application>

</manifest>