<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demand.inn.com.inndemand">

    <!-- ...............InnDemand app permissions area............ -->
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"></uses-permission-sdk-23>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- To access accounts configured on device -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To use account credentials -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.javapapers.android.maps.path.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="in.wptrafficanalyzer.locationroutemylocationv2.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:name=".volleycall.AppController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>


        <!-- .............Facebook Login Activity................... -->

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!-- ...................Activity call Area....................... -->

        <activity android:name=".welcome.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.Loginscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".login.CheckDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".login.QRscanning"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".DashBoard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".login.HotelDetails"
            android:label="Hotel"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".cartarea.MyCart"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".welcome.CommentArea"
            android:screenOrientation="portrait"></activity>

        <!-- ................Room-Services Activity Area.......... -->

        <activity android:name=".roomservice.RoomServices"
            android:label="@string/room_services"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@drawable/ic_menu_camera"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".roomservice.Bathroom"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roomservice.RoomCleaning"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".roomservice.WakeUp"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roomservice.Cab"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roomservice.Laundry"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roomservice.Beverages"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roomservice.BedTea"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roomservice.BellBoy"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!-- ................Restaurant Activity Area.......... -->

        <activity android:name=".roomservice.Restaurant"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!-- ...................Terms of Use Area...................... -->

        <activity android:name=".login.PrivacyPolicy">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".login.TermsCondition"></activity>

        <!-- ...................Broadcast call Area....................... -->

        <!-- ...................Services call Area........................ -->


        <!-- ...................Map Area....................................-->

        <activity android:name=".mapdirection.Mapping"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNosy5B30fOPeAT7Wcqo14sdtyRawTQ1Q"/>

    </application>

</manifest>